# Byte-compiled / cached files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# PyTorch / TensorFlow models
*.pth
*.pt
*.h5

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
